venv3.7
model/logs
model/images
model/output
df_10.csv
random
SimCSE
SimCSE/output
venv
analysis/output
data
eval/cache
eval/logs
eval/output
model/simcse-embed/images
model/simcse-embed/2023_02_09_11_11_44_0
model/simcse-embed/embedding.csv
model/simcse-embed/outputvec.csv
